/*Logo vet*/
.logo{
    width: 15%;
    padding: 0;
    position: absolute;
    top: 0%;
}



.titulo{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: teal;
    margin-top: 0;
}

